<head>
    <style>
    body{
        background-color: #072227;
    }
     h2{
         color: #35858B;
         text-align: center;
     }
    .form{
        margin: auto;
        background-color: white;
        width: 500px;
        height: 330px;
        text-align: center;
        margin-top: 100px;
        padding: 10px;
        border-radius: 4px;
        text-align: right;
    }
    
    .form input{
        width: 250px;
        padding: 12px 20px;
        margin: 8px ;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 80px;
        background-color: #F5F5F5;
    }
    
    input[type=submit]{
        margin-right: 125px;
        background-color: #35858B;
        color: white;
        border: 0;
    }
    input[type=submit]:hover {
                background-color: #3A9399;
                cursor: pointer;
            }
    
    p{
        color: #35858B;
    }
      .subtitle{
        text-align: center;
      }
    </style>
    </head>
    
    <body>
    <div class="form">
    <h2>Alterar Matrícula</h2>
      <p class="subtitle">Introduza a matrícula do veículo que deseja fazer a alteração e o novo modelo.</p>
    <p>Matrícula: <input name="matricula"></p>
    <p>Novo ano: <input name="novoAno"></p>
    
    <input type=submit value="Alterar">
    </div>
    </form>
    </body>
    </html>
    