
<head>
	<meta charset="UTF-8">

	<title>Gestão de Negócio de Automoveis</title>
  <style>
    body{
      background-color: white;
    }
    h1 {
      text-align: center;
      color: #35858B;
    }
    table {
      width: 100%;
      margin-left: 30px;
    }
    
    input[type=submit] {
      width: 250px;
      padding: 12px 20px;
      margin: 2px ;
      border: 1px solid #35858B;
      border-radius: 4px;
      margin-right: 80px;
      background-color: #35858B;
      color: white;
    }
	input[type=submit]:hover {
            background-color: #3A9399;
            cursor: pointer;
        }
    p{
      text-align: center;
      color: #35858B;
    }
  </style>
</head>
<body>
	<main style="margin-left: auto; margin-top: 10%;">
		<div>
      <h1>Alteração de Dados</h1>
          <p>Escolha o que quer alterar:</p>
		<table>
		  <tr>
		   	<th><a href="/views/pages/alterarMatricula"><input type="submit" value="Matrícula" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="/views/pages/alterarMarca"><input type="submit" value="Marca" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="/views/pages/alterarModelo"><input type="submit" value="Modelo" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="/views/pages/alterarAno"><input type="submit" value="Ano" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="/views/pages/alterarTipo"><input type="submit" value="Tipo" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="/views/pages/alterarPreco"><input type="submit" value="Preço" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="/views/pages/atualizarRestauro"><input type="submit" value="Restauro" /></a></th>
		  </tr>
		</table>
      </div>
		
	</main>
	

</body>
