<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      
      div.lista{
        width: 60%;
        float: right;
        margin: 0;
      }
    </style>
  </head>

  <body>
	<main  onload="start()">
    <ul>
      <nav>
          <ul>
            <li class="header"><a href="/" target="_self"> Receitas </a></li>
            <div class="lista">
              <li><a href="/PeqAlmoco" target="_self">Pequeno-almoço</a></li>
              <li><a href="/carne" target="_self">Carne</a></li>
              <li><a href="/peixe" target="_self">Peixe</a></li>
              <li><a href="/sobremesa" target="_self">Sobremesas</a></li>
            </div>
          </ul>
      </nav>
  </ul>
    
    <div class="form">
      <h2>Automóveis em Stock</h2>
        <ul id="listaVeiculos">
          <a href="/list" target="_self">aa</a>
        </ul>
      
      </div>
      </form>

      <iframe src="https://aula14112021franciscopdw.s3.us-east-2.amazonaws.com/Penne+com+Molho+Pesto+e+Queijo+Fresco+Atabafado.mp4"></iframe>
    
    <script>
        function start(){
            visualizarVeiculos();
        }
    </script>
		<script>
      function visualizarVeiculos(){
          var xhttp = new XMLHttpRequest();
          xttp.onreadystatechange = function() {
              if(this.readyState == 4 && this.status == 200){
                  console.log("Response empty");
                  document.getElementById("listaVeiculos").innerHTML = this.responseText;
              }
          }
          xhttp.open("GET", "/list", true);
          xhttp.send();
      }
    </script>
	</main>
	

</body>

</html>



