<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      
      div.lista{
        width: 60%;
        float: right;
        margin: 0;
      }
      li a:active {
      border-bottom: 3px solid #C0B283;
      }
    </style>
  </head>

  <body>
	<main  onload="start()">
    <ul>
      <nav>
          <ul>
            <li class="header"><a href="/" target="_self"> Receitas </a></li>
            <div class="lista">
              <li><a href="/PeqAlmoco" target="_self">Pequeno-almoço</a></li>
              <li><a href="/carne" target="_self">Carne</a></li>
              <li><a href="/peixe" target="_self">Peixe</a></li>
              <li><a href="/sobremesa" target="_self">Sobremesas</a></li>
            </div>
          </ul>
      </nav>
  </ul>
  <div class="imagem">
    <img src="https://sicrecipes.s3.us-east-2.amazonaws.com/kitchen.jpg" width="800px">
    <figcaption>Receitas para dares sabores à tua <i>VIDA</i></figcaption>
  </div>  

  <h1><%= nome %></h1>
        <div class="align">
            <p><%= ingredientes %></p>
        </div>
        <div class="align">
            <p><%= preparacao %></p>
        </div>

	</main>
  <footer>
    UBI | Serviços e Interfaces para a Cloud | Informática Web | Joana Almeida | Francisco Oliveira
  </footer>

</body>

</html>



