<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      
      div.lista{
        width: 60%;
        float: right;
        margin: 0;
      }
    </style>
  </head>

  <body>
	<main onload="start()">
    <ul>
      <nav>
          <ul>
            <li class="header"><a href="/" target="_self"> Receitas </a></li>
            <div class="lista">
              <li><a href="/PeqAlmoco" target="_self">Pequeno-almoço</a></li>
              <li><a href="/carne" target="_self">Carne</a></li>
              <li><a href="/peixe" target="_self">Peixe</a></li>
              <li><a href="/sobremesa" target="_self">Sobremesas</a></li>
            </div>
          </ul>
      </nav>
  </ul>

  <div class="form">
    <h2>Receitas:</h2>
      <ul id="listaVeiculos">
        <p><%= nome %></p>
        <p><%= ingredientes %></p>
        <p><%= preparacao %></p>
      </ul>
    </div>
  </form>

  </main>
  </body>
  </html>
