
<head>
	<meta charset="UTF-8">

	<title>Gestão de Negócio de Automoveis</title>
  <style>
    body{
      background-color: white;
    }
    h1 {
      text-align: center;
      color: #35858B;
    }
    table {
      width: 100%;
      margin-left: 30px;
    }
    
    input[type=submit] {
      width: 250px;
      padding: 12px 20px;
      margin: 2px ;
      border: 1px solid #35858B;
      border-radius: 4px;
      margin-right: 80px;
      background-color: #35858B;
      color: white;
    }
	input[type=submit]:hover {
            background-color: #3A9399;
            cursor: pointer;
        }
    p{
      text-align: center;
      color: #35858B;
    }
  </style>
</head>
<body>
	<main style="margin-left: auto; margin-top: 10%;">
		<div>
      <h1>Relatórios</h1>
		<table>
		  <tr>
		   	<th><a href="/vendidos"><input type="submit" value="Veículos vendidos" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="/list"><input type="submit" value="Veículos em stock" /></a></th>
		  </tr>
		  
		  <tr>
		    <th><a href="gestaoBD"><input type="submit" value="Lucro total" /></a></th>
		  </tr>
		  
		</table>
      </div>
		
	</main>
	

</body>
